<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="">

          <div class="">
              <th>{{_servicio.info.nombre}}</th>
            </div>
          <div class="">
              <td>{{_servicio.info.telefono}}</td>
          </div>
          <div class="text-decoration-none">
              <a href={{_servicio.info.linkemail}} class="text-decoration-none text-reset" target="_blank">
                <td>{{_servicio.info.email}}</td>
              </a>
          </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">

      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href={{_servicio.info.facebook}}
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href={{_servicio.info.linkedin}}
      role="button"
      data-mdb-ripple-color="dark"
      ><i class="fab fa-linkedin"></i
    ></a>

    <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href={{_servicio.info.twitter}}
    role="button"
    data-mdb-ripple-color="dark"
    ><i class="fab fa-twitter"></i
  ></a>

    <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href={{_servicio.info.instagram}}
    role="button"
    data-mdb-ripple-color="dark"
    ><i class="fab fa-instagram"></i
  ></a>

  <a
  class="btn btn-link btn-floating btn-lg text-dark m-1"
  href={{_servicio.info.linkemail}}
  role="button"
  data-mdb-ripple-color="dark"
  ><i class="fab fa-whatsapp"></i
></a>





    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="pull-right">
    <ul class="nav">
      <li class="nav-item"><a routerLink="" class="nav-link px-2 text-body-secondary">Inicio</a></li>
      <li class="nav-item"><a routerLink="nosotros" class="nav-link px-2 text-body-secondary">Nosotros</a></li>
      <li class="nav-item"><a routerLink="servicios" class="nav-link px-2 text-body-secondary">Servicios</a></li>
      <li class="nav-item"><a routerLink="contacto" class="nav-link px-2 text-body-secondary">Contacto</a></li>
    </ul>
    </div></div>
  </footer>
</div>
<div class="container-fluid text-center" style="background-color: rgba(0, 0, 0, 0.2);">
<p class=""><span class="ae-u-bolder">{{anio}} &copy; {{_servicio.info.titulo}}</span></p>
</div>
