<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="nosotros" class="rk-menu__link">Nosotros</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="servicios" class="rk-menu__link">Servicios</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="contacto" class="rk-menu__link">Contacto</a>
        </li>
      </ul>
      <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}} {{_servicio.info.titulo}} </span>Todos los derechos reservados.</p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center"><a [href]="_servicio.info.facebook" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg></a>
        <a [href]="_servicio.info.twitter" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg></a>
        <a [href]="_servicio.info.twitter" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg></a>
      </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> <a href="mailTO:{{ _servicio.info.email }}" class="rk-dark-color ">{{_servicio.info.email}}</a></span></p>
    </div>
  </div>
</footer>
