<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">INGENIERIA INDUSTRIAL Y DE SISTEMA</span>
    </a>


    <ul class="nav nav-pills">

      <li class="nav-item"><a routerLink="" class="nav-link" routerLinkActive="">Inicio</a></li>
      <li class="nav-item"><a routerLink="nosotros" class="nav-link" routerLinkActive="active">Nosotros</a></li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Servicios</a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li class="nav-item"><a routerLink="formulacion-de-proyectos-para-fondos-concursables" class="nav-link">Formulación de proyectos para fondos concursables</a></li>
          <li class="nav-item"><a routerLink="diseño-y-desarrollo-de-sistemas-informáticos" class="nav-link">Diseño y desarrollo de sistemas informáticos</a></li>
          <li class="nav-item"><a routerLink="modelamiento-de-procesos" class="nav-link">Modelamiento de procesos</a></li>
        </ul>
      </li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="contacto" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Contacto</a></li>
      
    </ul>
  </header>
</div>


