
<div class="navbar-header">
  <div class="topnav-centered">

    <nav class="navbar navbar-expand navbar-fixed-top" style="background-color: #ffffff;">
      <div class="col"></div>

      <div class="col">
    <a href="/" class="navbar-brand">
      <span class="fs-4">INGENIERIA INDUSTRIAL Y DE SISTEMAS</span>
    </a>
  </div>
  <div class="col">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item"><a routerLink="" class="nav-link" routerLinkActive="">Inicio</a></li>
      <li class="nav-item"><a routerLink="nosotros" class="nav-link" routerLinkActive="active">Nosotros</a></li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Servicios</a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a routerLink="formulacion-de-proyectos-para-fondos-concursables" class="nav-link">Formulación de proyectos para fondos concursables</a></li>
          <li class="nav-item"><a routerLink="diseño-y-desarrollo-de-sistemas-informáticos" class="nav-link">Diseño y desarrollo de sistemas informáticos</a></li>
          <li class="nav-item"><a routerLink="modelamiento-de-procesos" class="nav-link">Modelamiento de procesos</a></li>
        </ul>
      </li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="contacto" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Contacto</a></li>
    </ul>
  </div>

  <div class="col"></div>
  </nav>
</div>
</div>


