<div class="container-fluid">
  <div class="col-lg-6 mx-auto p-5 text-center bg-body-tertiary rounded-3">
    <p class="lead animate__animated animate__jackInTheBox">
      "Vivir una buena vida es un canto, una pintura, una poesía. Es un homenaje permanente a algo que sabemos que es infinitamente superior, en términos concretos, inalcanzable, al menos en la forma presente en que nos encontramos. Vivir una buena vida es: agradecer una vaso de agua, el abrazo de un niño, vivir en democracia, la música, la danza..."
    </p>
  </div>
</div>

<app-acercade></app-acercade>

<app-proyectos></app-proyectos>

<app-carrusel-clientes></app-carrusel-clientes>
