<div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Title example</h4>
      <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
    </div>

  <div class="ae-grid">
    <div class="ae-grid__item item-sm--auto item-md--order-3 item-xl--order-2">

      <h6 class="ae-u-boldest">Acerca del fundador de la empresa</h6>
      <p style="text-align: justify;" class="au-lh-4">Conoce a Richards Rojas Arquero, el fundador de nuestra empresa de ingeniería y sistemas. Ingeniero Civil de Minas, especialista en TIC y con amplia experiencia en el campo de la ingeniería industrial y de sistemas. </p>
    </div>
    <div class="ae-grid__item item-sm--auto item-md--order-4 item-xl--order-1">
      <h6 class="ae-u-boldest">Experiencia</h6>
      <p style="text-align: justify;" class="au-lh-4">Nuestro equipo tiene más de 30 años de experiencia en consultoría, evaluación de proyectos, gestión, diseño y desarrollo de sistemas, y reingeniería de empresas. Hemos trabajado con importantes instituciones y empresas de diversos sectores económicos.</p>
    </div>
    <div class="ae-grid">
    <div class="ae-grid__item item-sm--auto item-md--order-1 item-xl--order-4">
      <h6 class="ae-u-boldest">Desempeño laboral actual</h6>
      <p style="text-align: justify;" class="au-lh-4">Nuestro fundador es un destacado académico en la Universidad Santo Tomás - Sede Antofagasta, donde imparte varias asignaturas, desde algoritmos y programación hasta diseño de procesos y gestión de calidad. También supervisa proyectos y seminarios de título.</p>

    </div>
    <div class="ae-grid__item item-sm--auto item-md--order-2 item-xl--order-3">
      <h6 class="ae-u-boldest">Hitos mas importantes</h6>
      <p style="text-align: justify;" class="au-lh-4">Nuestro fundador ha logrado importantes hitos, como ser Director de Informática y miembro de la Comisión de Acreditación Institucional y de Carreras en la Universidad de Antofagasta. También ha obtenido fondos para proyectos de análisis institucional y gestión de indicadores por más de 400 millones de pesos.</p>
    </div>
  </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a routerLink="/contacto" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Construyamos algo junto... Ponte en contacto!<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
</div>
<br>
<app-clientes></app-clientes>
<br>
