<div class="container">
  <div class="col-lg-6 mx-auto p-5 text-center bg-body-tertiary rounded-3">
    <p class="lead">
      "Vivir una buena vida es un canto, una pintura, una poesía. Es un homenaje permanente a algo que sabemos que es infinitamente superior, en términos concretos, inalcanzable, al menos en la forma presente en que nos encontramos. Vivir una buena vida es: agradecer una vaso de agua, el abrazo de un niño, vivir en democracia, la música, la danza..."
    </p>
  </div>
</div>

<div class="container">
  <h1 class="pb-4 border-bottom">Acerca de Nosotros</h1>
  <div class="border-0">
  <div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 400px;">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2">
        <h3 class="mb-0">Acerca del fundador de la empresa</h3></strong>
        <div class="mb-1 text-body-secondary"></div>
        <p style="text-align: justify;" class="card-text mb-auto">Conoce a Richards Rojas Arquero, el fundador de nuestra empresa de ingeniería y sistemas. Ingeniero Civil de Minas, especialista en TIC y con amplia experiencia en el campo de la ingeniería industrial y de sistemas. </p>

      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/assets/img/acercafundador.jpg" class="card-img" width="200" height="250">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 400px;">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">
        <h3 class="mb-0">Experiencia</h3></strong>
        <div class="mb-1 text-body-secondary"></div>
        <p style="text-align: justify;" class="mb-auto">Nuestro equipo tiene más de 30 años de experiencia en consultoría, evaluación de proyectos, gestión, diseño y desarrollo de sistemas, y reingeniería de empresas. Hemos trabajado con importantes instituciones y empresas de diversos sectores económicos.</p>

      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/assets/img/experiencia.jpg" class="card-img" width="200" height="250">
      </div>
    </div>
  </div>
  </div>
  <div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 400px;">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2">
        <h3 class="mb-0">Desempeño laboral actual</h3></strong>
        <div class="mb-1 text-body-secondary"></div>
        <p style="text-align: justify;" class="card-text mb-auto">Nuestro fundador es un destacado académico en la Universidad Santo Tomás - Sede Antofagasta, donde imparte varias asignaturas, desde algoritmos y programación hasta diseño de procesos y gestión de calidad. También supervisa proyectos y seminarios de título.</p>

      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/assets/img/desenpenoactual.jpg" class="card-img" width="200" height="250">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height: 400px;">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 ">
        <h3 class="mb-0">Hitos mas importantes</h3></strong>
        <div class="mb-1 text-body-secondary"></div>
        <p style="text-align: justify;" class="mb-auto">Nuestro fundador ha logrado importantes hitos, como ser Director de Informática y miembro de la Comisión de Acreditación Institucional y de Carreras en la Universidad de Antofagasta. También ha obtenido fondos para proyectos de análisis institucional y gestión de indicadores por más de 400 millones de pesos.</p>

      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/assets/img/hitos.jpg" class="card-img" width="200" height="250">
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="featured-3">
  <h1 class="pb-2 border-bottom">Proyectos</h1>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
        <i class="fa-solid fa-graduation-cap"></i>
      </div>
      <h3 class="fs-2">Educacionales</h3>
      <strong><p>Universidad Antofagasta</p></strong>
      <li>Modernización de los sistemas informáticos</li>
      <li>Proceso de acreditación en calidad de director del Sistema de Gestión Universitaria.</li>
      <li>Proceso de acreditación en calidad de director de la Comisión de Información.</li>
      <br>
      <strong><p>Universidad Arturo Prat de Iquique</p></strong>
      <li>Modernización de los sistemas informáticos.</li>
      <br>
      <strong><p>Universidad Austral de Valdivia</p></strong>
      <li>Modernización de los Sistemas Informáticos integrando el FIN700 con el sistema académico desarrollado en forma interna.</li>

    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
        <i class="fa-regular fa-newspaper"></i>
      </div>
      <h3 class="fs-2">Auditorias</h3>
      <strong><p>ESVAL Valparaiso</p></strong>
      <li>Auditoria computacional a la Gerencia Comercial.</li>
      <br>
      <strong><p>Banco del Estado de Chile</p></strong>
      <li>Auditoria computacional para el Centro de Procesamiento de Datos.</li>
    </div>

    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
        <i class="fa-regular fa-building"></i>
      </div>
      <h3 class="fs-2">Empresas</h3>
      <strong><p class="font-weight-bold">SISREL</p></strong>
      <li>Diseñador del Proyecto COFO I+D+i: Migrar con tecnologías Angular de Google, Java, Java Script y PostgreSQL el ERP de Bienestar de RRHH, para instituciones y servicios públicos de Chile.</li>
      <br>
      <strong><p>Caja de Compensación Valles de Chile de la Sociedad Nacional de Agricultura</p></strong>
      <li>Diseño y desarrollo de los sistemas administrativos, diseñados con herramientas CASE y programados con ORACLE.</li>
      <br>
      <strong><p>Feria Internacional de Santiago FISA</p></strong>
      <li>Diseño de procesos para el equipamiento de los módulos.</li>
      <br>
      <strong><p>Lechera CALAN de Angol</p></strong>
      <li>Diseño y desarrollo de un sistema de contabilidad.</li>
      <br>
      <strong><p>Molinera Hoffman de Valdivia</p></strong>
      <li>Diseño y desarrollo de un sistema contabilidad.</li>
      <br>
    </div>
  </div>
</div>

<app-clientes></app-clientes>

</div>
</div>
