<title>SERVICIOS</title>
<div class="container marketing">
<div class="row align-items-center">
  <div class="col-lg-4 text-center animate__animated animate__fadeIn" *ngFor="let s of servicios">
    <img src={{s.urlImg}} class="bd-placeholder-img rounded-circle" width="250"  preserveAspectRatio="xMidYMid slice" focusable="false">

    <div class="col"><h2 class="fw-normal center">{{s.titulo}}</h2></div>
    <div class="col">{{s.descripcion}}</div>
    <div class="col"><a type="button" class="btn btn-dark btn-primary" routerLink={{s.ruta}}>Ver detalles &raquo;</a></div>
  </div>
<!-- /.col-lg-4 -->



