<title>SERVICIOS</title>

<section class="ae-container-fluid rk-main">
  <h2 class="wp-block-heading has-text-align-center has-vivid-red-color has-text-color has-x-large-font-size"><strong>Formulación de proyectos para fondos concursables</strong></h2>
  <p class="has-text-align-center has-white-color has-text-color">Descubre la financiación ideal para tu proyecto con nuestro servicio de análisis de ideas y fondos de financiamiento.</p>
  <div class="wp-block-button"><a class="wp-block-button__link wp-element-button" routerLink="/formulacion-de-proyectos-para-fondos-concursables">VER MÁS</a></div>
</section>

<section class="ae-container-fluid rk-main">
  <h2 class="wp-block-heading has-text-align-center has-vivid-red-color has-text-color has-x-large-font-size"><strong>Diseño y desarrollo de sistemas informáticos</strong></h2>
  <p class="has-text-align-center">Transforma tus ideas en sistemas innovadores y gana financiamiento con nuestro equipo de expertos.</p>
  <div class="wp-block-button"><a class="wp-block-button__link wp-element-button" routerLink="/diseño-y-desarrollo-de-sistemas-informáticos">VER MÁS</a></div>
</section>

<section class="ae-container-fluid rk-main">
  <h2 class="wp-block-heading has-text-align-center has-vivid-red-color has-text-color has-x-large-font-size"><strong>Modelamiento de procesos</strong></h2>
  <p class="has-text-align-center">Optimiza tus procesos y mejora el rendimiento de tu empresa con nuestro equipo de ingenieros industriales especializados.</p>
  <div class="wp-block-button"><a class="wp-block-button__link wp-element-button" routerLink="/modelamiento-de-procesos">VER MÁS</a></div>
</section>



