<div class="px-4 py-5 my-5 text-center ">

  <h1 class="display-5 fw-bold text-body-emphasis animate__animated animate__jackInTheBox" >Mejora la productividad con proyectos innovadores:<br> <span class="text-body-secondary">Ingeniería Industrial y de Sistemas.</span></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 animate__animated animate__zoomIn">Empresa consultora especializada en mejorar la productividad a través del desarrollo organizacional. Ofrecemos servicios de formulación de proyectos para acceder a fondos concursables y ayudamos a aprovechar al máximo los recursos disponibles en la región.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    </div>
  </div>
</div>


<hr class="featurette-divider">
<div class="container-fluid">
  <div class="border-0">
    <app-servicios></app-servicios>
  </div>
</div>
<hr class="featurette-divider">
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <app-carrusel-clientes></app-carrusel-clientes>
    </div>
    <div class="col">
    </div>
  </div>
</div>








