<br>
<br>
<br>
<br>
<br>




<section id="nosotros">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2" style="position: relative;">
    <a class="rk-item">


        <h4 class="ae-u-bolder">Mejora la productividad con proyectos innovadores:&nbsp;<br>Ingeniería Industrial y de Sistemas</h4>
        <p style="text-align: justify;">Ingeniería Industrial y de Sistemas es una empresa consultora especializada en mejorar la productividad a través del desarrollo organizacional. Ofrecemos servicios de formulación de proyectos para acceder a fondos concursables y ayudamos a aprovechar al máximo los recursos disponibles en la región.</p>

    </a>
  </div>
</section>

<section id="servicios">
  <div class="ae-grid">

    <div class="ae-grid__item item-lg-4">
      <a routerLink="/formulacion-de-proyectos-para-fondos-concursables" class="rk-item">
        <img src="assets/img/formulaciondeproyecto.jpg">
        <span class="item-meta">
          <h2>Formulacion de proyectos para fondos concursables.</h2>
        </span>
      </a>
    </div>

    <div class="ae-grid__item item-lg-4"><a routerLink="/diseño-y-desarrollo-de-sistemas-informáticos" class="rk-item">
      <img src="assets/img/disenoinformatico.jpg" alt="" />
        <div class="item-meta">
          <h2>Diseño y desarrollo de sistemas informáticos.</h2>
        </div></a></div>

    <div class="ae-grid__item item-lg-4"><a routerLink="/modelamiento-de-procesos" class="rk-item"><img src="assets/img/modelamientoproceso.jpg" alt=""/>
        <div class="item-meta">
          <h2>Modelamiento de procesos.</h2>
        </div></a></div>
  </div>
</section>




